<div class="page-wrapper">
    <h1 class="page-heading">User Details</h1>
    <p class="each-detail">Id: {{userDetails.id}}</p>
    <p class="each-detail">Name: {{userDetails.name}}</p>
    <p class="each-detail">Password: {{userDetails.password}}</p>
    <p class="each-detail">Course: {{userDetails.course}}</p>
    <p class="each-detail">City: {{userDetails.city}}</p>
    <p class="each-detail">State: {{userDetails.state}}</p>
    <p class="each-detail">Country: {{userDetails.country}}</p>
</div>