.page-heading {
    font-size: 36px;
    font-family: font-bold;
    margin-bottom: 24px;
}

.form-section {
    min-width: 320px;
    max-width: 540px;
}

.each-input-section {
    margin-bottom: 16px;
}

.input-label {
    color: #404040;
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 20px;
    margin-bottom: 4px;
    font-family: font-semi-bold;
}

.each-input {
    padding: 10px 12px 12px 9px;
    border: 1px solid #ABA8A5;
    border-radius: 1px;
    background: #FFFFFF;
    width: 100%;
    font-family: font-regular;
    color: #404040;
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 20px;
}

.each-input:hover,
.each-input:focus {
    border: 1px solid #F28810;
    outline: none;
}

.form-action {
    width: 100%;
    padding: 10px 30px;
    border-radius: 1px;
    background-color: #FC830A;
    color: #FFFFFF;
    font-family: font-semi-bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 21px;
    text-align: center;
}
