<div class="page-wrapper">
    <h1 class="page-heading">Student Registration</h1>
    <div class="form-section">
        <form #studentRegistrationForm = "ngForm" (ngSubmit) = "submitFormDetails(studentRegistrationForm)">
            <div class="each-input-section">
                <p class="input-label">Student Id</p>
                <input type = "text" name = "id" placeholder = "Enter your Id" class="each-input" [(ngModel)] = "userDetails.id" />
            </div>
            <div class="each-input-section">
                <p class="input-label">Name</p>
                <input type = "text" name = "name" placeholder = "Enter your name" class="each-input" [(ngModel)] = "userDetails.name" />
            </div>
            <div class="each-input-section">
                <p class="input-label">Password</p>
                <input type = "password" name = "password" placeholder = "********" class="each-input" [(ngModel)] = "userDetails.password" />
            </div>
            <div class="each-input-section">
                <p class="input-label">Course</p>
                <app-dropdown name = "course" [(dropdownValue)]="userDetails.course" [(dropdownOptions)]="courseOptions" (dropdownValueSelected)="courseSelected($event)"></app-dropdown>
            </div>
            <div class="each-input-section">
                <p class="input-label">City</p>
                <input type = "text" name = "city" placeholder = "Hyderabad" class="each-input" [(ngModel)] = "userDetails.city" />
            </div>

            <div class="each-input-section">
                <p class="input-label">State</p>
                <input type = "text" name = "state" placeholder = "Telangana" class="each-input" [(ngModel)] = "userDetails.state" />
            </div>

            <div class="each-input-section">
                <p class="input-label">Country</p>
                <input type = "text" name = "country" placeholder = "India" class="each-input" [(ngModel)] = "userDetails.country" />
            </div>

            <button class="form-action">Register Your Information</button>
        </form>
    </div>
</div>