.dropdown-section,
.dropdown-input-section {
    position: relative;
}

.drodown-label {
    color: #404040;
    font-family: font-semi-bold;
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 21px;
    margin-bottom: 6px;
}

.dropdown-input {
    border: 1px solid #ABA8A5;
    border-radius: 2px;
    background: #FFFFFF;
    width: 100%;
    color: #404040;
    font-family: font-regular;
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 21px;
    padding: 8px 12px;
    cursor: pointer;
    padding-right: 32px;
    text-transform: capitalize;
}

.dropdown-icon {
    position: absolute;
    right: 12px;
    top: 40px;
    font-size: 16px;
    cursor: pointer;
}

.dropdown-open {
    border: 1px solid #FF7C00;
}


.dropdown-options-list {
    max-height: 164px;
    overflow-y: auto;
    border-radius: 2px;
    background: #FFFFFF;
    box-shadow: 0 4px 12px 0 rgba(136, 136, 136, 0.2);
    position: absolute;
    top: 47px;
    left: 0;
    right: 0;
    padding: 8px 0;
    z-index: 9;
}

.dropdown-options-list p {
    color: #404040;
    background: #FFFFFF;
    font-family: font-regular;
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 21px;
    cursor: pointer;
    padding: 8px 12px 8px 12px;
    text-transform: capitalize;
}

.dropdown-options-list p:hover {
    background: #F7F8F7;
}