<div class="dropdown-section" *ngIf="dropdownOptions">
    <div class="dropdown-input-section" #dropdownTrigger>
        <p class="drodown-label">{{dropdownOptions.label}}</p>
        <input type="text" [readonly]=true placeholder="Select" class="dropdown-input" #dropdownInput [(ngModel)]="dropdownValue" [ngClass]="{'input-error-border': dropdownOptions.showErrorState}" />
    </div>
    <div class="dropdown-options-list d-none" #dropdownList>
        <p *ngFor="let eachOption of dropdownOptions.options" (click)="dropdownSelected(eachOption)">
            {{eachOption.value}}
        </p>
    </div>
</div>