html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

@font-face {
    font-family: 'font-light';
    font-display: swap;
    src: url('assets/fonts/font-family/hk-grotesk/OTF/HKGrotesk-Light.otf');
}

@font-face {
    font-family: 'font-regular';
    font-display: swap;
    src: url('assets/fonts/font-family/hk-grotesk/OTF/HKGrotesk-Regular.otf');
}

@font-face {
    font-family: 'font-medium';
    font-display: swap;
    src: url('assets/fonts/font-family/hk-grotesk/OTF/HKGrotesk-Medium.otf');
}

@font-face {
    font-family: 'font-semi-bold';
    font-display: swap;
    src: url('assets/fonts/font-family/hk-grotesk/OTF/HKGrotesk-SemiBold.otf');
}

@font-face {
    font-family: 'font-bold';
    font-display: swap;
    src: url('assets/fonts/font-family/hk-grotesk/OTF/HKGrotesk-Bold.otf');
}

@font-face {
    font-family: 'font-extra-bold';
    font-display: swap;
    src: url('assets/fonts/font-family/hk-grotesk/OTF/HKGrotesk-ExtraBold.otf');
}

body {
    font-family: font-regular;
    height: 100%;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    min-width: 340px;
}

.page-wrapper {
    width: 1018px;
    margin: 0 auto;
    padding: 0;
}

.d-none {
    display: none;
}

.d-inline-block {
    display: inline-block;
}

@media only screen and (max-width: 1018px) {
    .page-wrapper {
        width: 100%;
        padding: 0 24px;
    }
}